<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">REPO</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li><a href="/">Home</a></li>
        <li>
          <%= link_to "About", '#' %>
        </li>
        <li>
          <%= link_to "Contact", '#' %>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <% if !user_signed_in? %>
          <li>
            <%= link_to "Sign In With Github", user_omniauth_authorize_path(:github) %>
          </li>
        <% else %>
          <li>
            <%= link_to "Notification Settings", settings_path %>
          </li>
          <li>
            <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>